*
, *::after
, *::before {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  color: #000; }

@font-face {
  font-family: Poppins;
  src: url(../../Poppins.ttf); }

html {
  font-size: 62.5%; }

body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #fff; }

.header {
  display: flex;
  align-items: center;
  height: 12vh; }
  .header__1 {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .header__1__logo {
      width: 4rem; }
    .header__1__heading {
      font-size: 1.8rem;
      font-weight: 700; }
  .header__2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem; }
    .header__2__a {
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 600;
      color: #999999;
      text-transform: capitalize; }
    .header__2__blue {
      color: #0063ff; }
  .header__3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
    .header__3__signin {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 600;
      color: #000;
      text-transform: capitalize;
      padding: .7rem 1.4rem; }
    .header__3__register {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 400;
      border-radius: 2rem;
      color: #fff;
      background-color: #0063ff;
      text-transform: capitalize;
      padding: .7rem 1.4rem; }
  .header__large {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%; }
  .header__small {
    display: none; }

.talkToUs {
  height: 5vh;
  background-color: #ffcf3a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500; }
  .talkToUs__a {
    text-decoration: none;
    color: #0063ff;
    font-weight: 600;
    text-shadow: 0 0 .5px #0063ff; }

@keyframes right {
  0% {
    right: 100%; }
  100% {
    right: 0; } }

@keyframes left {
  0% {
    right: 0%; }
  100% {
    right: 100%; } }

.section1 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 5rem; }
  .section1__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 10rem 0;
    align-items: flex-start; }
    .section1__left__h6 {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 600;
      color: #fa7319; }
    .section1__left__h3 {
      font-size: 6rem;
      text-transform: capitalize;
      width: 70%;
      line-height: 7rem;
      font-weight: 500; }
    .section1__left__p {
      font-size: 1.8rem;
      color: #6f6f6f;
      width: 63%; }
    .section1__left__buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 3rem; }
      .section1__left__buttons__getstarted {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: #000;
        text-transform: capitalize;
        padding: 1.5rem 3rem;
        background-color: #ffcf3a;
        border-radius: 3rem; }
      .section1__left__buttons__seeHow {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 1rem; }
        .section1__left__buttons__seeHow__circle {
          background-color: #d7e6ff;
          width: 5rem;
          height: 5rem;
          border-radius: 5rem;
          display: flex;
          justify-content: center;
          align-items: center; }
          .section1__left__buttons__seeHow__circle__triangle {
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-left: 15px solid #0063ff;
            border-bottom: 10px solid transparent;
            border-radius: .3rem;
            transform: translateX(20%); }
        .section1__left__buttons__seeHow__para {
          font-size: 1.4rem;
          font-weight: 600; }
  .section1__right {
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 20rem 20rem;
    gap: 3rem;
    position: relative; }
    .section1__right__blue1 {
      background-color: #b7dbff;
      border-radius: 20rem 0 0 20rem; }
    .section1__right__pink {
      background-color: #f1a7a6;
      border-radius: 1.5rem; }
    .section1__right__yellow {
      background-color: #ffd213;
      border-radius: 1.5rem; }
    .section1__right__blue2 {
      background-color: #dee2ea;
      border-radius: 0 20rem 20rem 0; }
    .section1__right__yellow1 {
      position: absolute;
      border-radius: 50%;
      width: 15rem;
      height: 15rem;
      background-color: #FFE69A;
      top: -5rem;
      right: -5rem;
      z-index: -1; }
    .section1__right__gray {
      position: absolute;
      border-radius: 50%;
      width: 7rem;
      height: 7rem;
      background-color: #E9E9E9;
      top: 30%;
      right: -10rem;
      z-index: -1; }
    .section1__right__blue {
      position: absolute;
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      background-color: #C1F6FF;
      bottom: -4rem;
      left: -4rem;
      z-index: -1; }

.section2__data {
  background-color: #0063ff;
  height: 20vh;
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  gap: 15rem; }
  .section2__data__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .6rem; }
    .section2__data__1:not(:first-child) {
      border-left: .1px solid #297cff;
      padding-left: 3rem; }
  .section2__data__h4 {
    font-size: 2.6rem;
    color: #fff; }
  .section2__data__h6 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize; }

.section2__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  gap: 2rem;
  background-color: #f7f7f7; }
  .section2__main__h6 {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fa7319; }
  .section2__main__h3 {
    font-size: 3rem;
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    width: 30%;
    text-align: center; }
  .section2__main__blocks {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto auto auto auto;
    gap: 2rem; }
    .section2__main__blocks__1 {
      display: flex;
      flex-direction: column;
      padding: 3rem;
      width: 20rem;
      gap: 2rem;
      background-color: #fff;
      border-radius: 2rem; }
      .section2__main__blocks__1__logo {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: .4rem; }
        .section2__main__blocks__1__logo__1 {
          background-color: #0063FF; }
        .section2__main__blocks__1__logo__2 {
          background-color: #73BC00; }
        .section2__main__blocks__1__logo__3 {
          background-color: #FA6400; }
        .section2__main__blocks__1__logo__4 {
          background-color: #fE6BAA; }
      .section2__main__blocks__1__h6 {
        font-size: 1.6rem;
        text-transform: capitalize; }
      .section2__main__blocks__1__para {
        font-size: 1.6rem;
        color: #6f6f6f; }

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10rem 0;
  gap: 15rem;
  background-color: #f7f7f7; }
  .section3__top {
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .section3__top__left {
      width: 50%; }
      .section3__top__left__blue {
        background-color: #7DEBFF;
        width: 30rem;
        height: 30rem;
        border-radius: 1.5rem;
        position: relative; }
        .section3__top__left__blue__yellow {
          background-color: #FFB920;
          width: 18rem;
          height: 18rem;
          bottom: -25%;
          right: -25%;
          border-radius: 50%;
          position: absolute;
          border: .5rem solid #fff; }
    .section3__top__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      gap: 2rem; }
      .section3__top__right__h3 {
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 600;
        color: #fa7319; }
      .section3__top__right__h5 {
        font-size: 2.2rem;
        color: #000;
        text-transform: capitalize;
        font-weight: 600;
        width: 55%; }
      .section3__top__right__para {
        font-size: 1.4rem;
        color: #6f6f6f;
        font-weight: 600;
        width: 90%; }
      .section3__top__right__button {
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 600;
        color: #000;
        width: 8rem;
        text-transform: capitalize;
        padding: 1.5rem 3rem;
        background-color: #ffcf3a;
        border-radius: 3rem; }
  .section3__bottom__left__blue {
    background-color: #7DEBFF;
    width: 30rem;
    height: 30rem;
    border-radius: 1.5rem;
    position: relative; }
    .section3__bottom__left__blue__yellow {
      background-color: #FFB920;
      width: 30rem;
      height: 30rem;
      bottom: -25%;
      right: -60%;
      border-radius: 1.5rem;
      position: absolute;
      border: .5rem solid #fff; }

.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  gap: 1.5rem;
  width: 100%; }
  .section4__h6 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fa7319; }
  .section4__h4 {
    font-size: 3.5rem;
    color: #000;
    text-transform: capitalize;
    text-align: center;
    width: 55%;
    font-weight: 600; }
  .section4__grid {
    display: grid;
    width: 100%;
    padding-top: 4rem;
    justify-content: center;
    grid-template-columns: 15% 15% 15% 15%;
    grid-template-rows: 10vh 10vh;
    gap: 3rem; }
    .section4__grid__child {
      border: 2px solid #F0F3F8;
      border-radius: 1rem;
      padding: 2rem 1rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 2rem; }
      .section4__grid__child__logo {
        height: 3rem;
        width: 3rem;
        border-radius: .4rem; }
        .section4__grid__child__logo__1 {
          background-color: #0063FF; }
        .section4__grid__child__logo__2 {
          background-color: #54b192; }
        .section4__grid__child__logo__3 {
          background-color: #7C459A; }
        .section4__grid__child__logo__4 {
          background-color: #C2F49D; }
        .section4__grid__child__logo__5 {
          background-color: #FA6400; }
        .section4__grid__child__logo__6 {
          background-color: #217D7B; }
        .section4__grid__child__logo__7 {
          background-color: #FFF38F; }
        .section4__grid__child__logo__8 {
          background-color: #7F7F7F; }
      .section4__grid__child__para {
        font-size: 1.4rem;
        font-weight: 600; }

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  position: relative;
  overflow: hidden; }
  .footer__h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fa7319; }
  .footer__h5 {
    font-size: 3.3rem;
    color: #000;
    text-transform: capitalize;
    text-align: center;
    width: 55%;
    font-weight: 600; }
  .footer__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0; }
    .footer__profile__pic {
      display: flex;
      gap: 2rem;
      align-items: center; }
      .footer__profile__pic__1 {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #c5c5c5; }
      .footer__profile__pic__2 {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        background-color: #EFB88D; }
      .footer__profile__pic__3 {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #BDC0C6; }
    .footer__profile__details {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .footer__profile__details__h6 {
        text-transform: capitalize;
        font-size: 1.4rem;
        font-weight: 600; }
      .footer__profile__details__p1 {
        color: #878787;
        text-transform: capitalize;
        font-size: 1.4rem;
        font-weight: 600; }
      .footer__profile__details__p2 {
        color: #878787;
        text-transform: capitalize;
        font-size: 1.2rem;
        font-weight: 500; }
    .footer__profile__para {
      font-size: 1.4rem;
      font-weight: 600;
      width: 28%;
      text-align: center;
      color: #454545;
      letter-spacing: .1rem; }
  .footer__end {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3vh;
    background-color: #0063FF; }
  .footer__yellow {
    width: 20rem;
    height: 20rem;
    position: absolute;
    bottom: -5rem;
    left: -5rem;
    border-radius: 50%;
    background-color: #FFCF3A; }
  .footer__blue {
    width: 15rem;
    height: 15rem;
    position: absolute;
    right: -5rem;
    top: 5rem;
    border-radius: 50%;
    background-color: #AEF4EF; }

@media only screen and (max-width: 757px) {
  html {
    font-size: 47%; }
  .header {
    height: 8vh; }
    .header__2 {
      flex-direction: column;
      gap: 3rem; }
      .header__2__a {
        font-size: 2rem;
        padding: 2rem 3rem; }
      .header__2__a:hover {
        background-color: aliceblue;
        color: black;
        border-radius: 5rem;
        transition: all .5s; }
    .header__3 {
      gap: 2rem; }
      .header__3 * {
        font-size: 2rem;
        padding: 2rem 3rem;
        border-radius: 5rem; }
    .header__small {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 10rem; }
      .header__small__btn {
        position: absolute;
        left: 5rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #000;
        cursor: pointer; }
    .header__large {
      position: fixed;
      top: 0;
      left: 100%;
      background-color: red;
      flex-direction: column;
      height: 100%;
      width: 100%;
      justify-content: center;
      gap: 5rem; }
      .header__large__1 {
        display: none; }
  .section2 {
    margin-top: 4rem; }
    .section2__data {
      display: none;
      height: 14vh;
      gap: 7rem; }
    .section2__main__blocks {
      grid-auto-rows: auto auto;
      grid-template-columns: auto auto;
      gap: 5rem;
      column-gap: 10rem; }
    .section2__main__h3 {
      width: 40%; }
  .section1 {
    width: 100%; }
    .section1__left {
      align-items: center;
      padding: 5rem 0; }
      .section1__left__h3 {
        width: 70%;
        text-align: center; }
      .section1__left__p {
        text-align: center; }
    .section1__right {
      display: none; }
      .section1__right__gray {
        display: none; }
  .section3 {
    padding: 3rem 0 8rem 0; }
    .section3__top {
      width: 90%; }
      .section3__top__right {
        align-items: center; }
        .section3__top__right__h5 {
          text-align: center; }
        .section3__top__right__para {
          text-align: center;
          width: 80%; }
      .section3__top__left {
        display: none; }
  .section4__grid {
    grid-template-columns: 35% 30%;
    grid-template-rows: 10vh 10vh 10vh 10vh; }
    .section4__grid__child {
      padding: 1rem 2rem; }
      .section4__grid__child__para {
        font-size: 1.6rem; }
  .footer__profile__para {
    width: 35%; } }

@media only screen and (max-width: 550px) {
  .talkToUs {
    flex-direction: column;
    height: 10vh; }
    .talkToUs__p {
      text-align: center; }
  .section2__main__h3 {
    width: 90%; }
  .section2__main__blocks {
    grid-template-columns: 80%;
    grid-template-rows: auto auto auto auto;
    gap: 3rem; }
    .section2__main__blocks__1 {
      padding: 5rem; }
  .section3__top {
    width: 100%; }
    .section3__top__right {
      width: 100%; }
      .section3__top__right__h5 {
        width: 90%; }
      .section3__top__right__para {
        font-size: 1.6rem; }
      .section3__top__right__button {
        padding: 2rem 3rem;
        width: 10rem;
        border-radius: 5rem;
        font-size: 1.6rem; }
  .section4__grid {
    grid-template-columns: 40rem;
    grid-template-rows: 10vh; }
  .footer__yellow {
    display: none; }
  .footer__blue {
    display: none; }
  .footer__profile__para {
    width: 80%; } }

@media only screen and (max-width: 857px) and (min-width: 757px) {
  html {
    font-size: 47%; }
  .header {
    height: 8vh; }
  .section2 {
    margin-top: 4rem; }
    .section2__data {
      height: 14vh;
      gap: 7rem; }
    .section2__main__blocks {
      grid-auto-rows: auto auto;
      grid-template-columns: auto auto;
      gap: 5rem;
      column-gap: 10rem; }
    .section2__main__h3 {
      width: 40%; }
  .section1 {
    width: 85%; }
    .section1__left__h3 {
      width: 90%; }
    .section1__right__gray {
      display: none; }
  .section3 {
    padding: 3rem 0 8rem 0; }
    .section3__top {
      width: 90%; }
      .section3__top__right {
        align-items: center; }
        .section3__top__right__h5 {
          text-align: center; }
        .section3__top__right__para {
          text-align: center;
          width: 80%; }
      .section3__top__left {
        display: none; }
  .section4__grid {
    grid-template-columns: 35% 30%;
    grid-template-rows: 10vh 10vh 10vh 10vh; }
    .section4__grid__child {
      padding: 1rem 2rem; }
      .section4__grid__child__para {
        font-size: 1.6rem; }
  .footer__profile__para {
    width: 35%; } }

@media only screen and (max-width: 947px) and (min-width: 857px) {
  html {
    font-size: 47%; }
  .header {
    height: 8vh; }
  .section2 {
    margin-top: 4rem; }
    .section2__data {
      height: 15vh;
      gap: 7rem; }
    .section2__main__h3 {
      width: 40%; }
  .section1 {
    width: 75%; }
    .section1__left__h3 {
      width: 90%; }
  .section3 {
    padding: 3rem 0 8rem 0; }
    .section3__top {
      width: 90%; }
  .section4__grid {
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 8vh 8vh; }
    .section4__grid__child {
      padding: .4rem .5rem; }
      .section4__grid__child__para {
        font-size: 1.6rem; }
  .footer__profile__para {
    width: 35%; } }

@media only screen and (max-width: 1062px) and (min-width: 947px) {
  html {
    font-size: 52%; }
  .header {
    height: 8vh; }
  .section2__data {
    height: 15vh;
    gap: 10rem; }
  .section2__main__h3 {
    width: 40%; }
  .section1 {
    width: 75%; }
    .section1__left__h3 {
      width: 90%; }
  .section3 {
    padding: 3rem 0 8rem 0; }
    .section3__top {
      width: 90%; }
  .section4__grid {
    grid-template-columns: 17% 17% 17% 17%;
    grid-template-rows: 8vh 8vh; }
    .section4__grid__child {
      padding: 3rem 1.5rem; }
      .section4__grid__child__para {
        font-size: 1.6rem; }
  .footer__profile__para {
    width: 35%; } }

@media only screen and (max-width: 1166px) and (min-width: 1062px) {
  html {
    font-size: 58%; }
  .header {
    height: 8vh; }
  .section2__data {
    gap: 10rem;
    height: 15vh; }
  .section2__main__h3 {
    width: 40%; }
  .section1 {
    width: 75%; }
    .section1__left__h3 {
      width: 90%; }
  .section3__top {
    width: 90%; }
  .section4__grid {
    grid-template-columns: 16% 16% 16% 16%;
    grid-template-rows: 7vh 7vh; }
    .section4__grid__child {
      padding: 2rem 1rem; }
      .section4__grid__child__para {
        font-size: 1.6rem; }
  .footer__profile__para {
    width: 35%; } }

@media only screen and (max-width: 1302px) and (min-width: 1166px) {
  html {
    font-size: 58%; }
  .header {
    height: 8vh; }
  .section1 {
    width: 80%; }
  .section2__data {
    height: 15vh; }
  .section3__top {
    width: 80%; }
  .section4__grid {
    grid-template-columns: 16% 16% 16% 16%;
    grid-template-rows: 8vh 8vh; }
    .section4__grid__child {
      padding: 1.3rem 1rem; }
      .section4__grid__child__para {
        font-size: 1.6rem; }
  .footer__profile__para {
    width: 35%; } }

@media only screen and (max-width: 1394px) and (min-width: 1302px) {
  .section1 {
    width: 80%; }
  .header {
    height: 8vh; }
  .section2__data {
    height: 15vh; }
  .section3__top {
    width: 80%; }
  .section4__grid {
    grid-template-columns: 17% 17% 17% 17%;
    grid-template-rows: 8vh 8vh; }
    .section4__grid__child {
      padding: 1.3rem 1rem; }
  .footer__profile__para {
    width: 35%; } }

@media only screen and (max-width: 1527px) and (min-width: 1450px) {
  html {
    font-size: 68%; }
  .section1__left__h3 {
    width: 90%; } }

@media only screen and (max-width: 1867px) and (min-width: 1697px) {
  html {
    font-size: 73%; }
  .section1__left__h3 {
    width: 70%; } }

@media only screen and (max-width: 2037px) and (min-width: 1867px) {
  html {
    font-size: 78%; }
  .section1__left__h3 {
    width: 70%; } }

@media only screen and (max-width: 2207px) and (min-width: 2037px) {
  html {
    font-size: 83%; }
  .section1__left__h3 {
    width: 68%; } }

@media only screen and (max-width: 2377px) and (min-width: 2207px) {
  html {
    font-size: 93%; }
  .section1__left__h3 {
    width: 68%; } }

@media only screen and (max-width: 2561px) and (min-width: 2377px) {
  html {
    font-size: 100%; }
  .section1__left__h3 {
    width: 68%; } }

@media screen and (min-width: 2561px) {
  html {
    font-size: 110%; }
  .section1__left__h3 {
    width: 68%; } }
