*
,*::after
,*::before{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    color: #000;
}
@font-face {
    font-family: Poppins;
    src: url(../../Poppins.ttf);
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
    
}
